@import "../../app.scss";

.about-container {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: 5rem 1rem;
    flex-direction: column;
    gap: 1rem;
  }

  .about-container-left,
  .about-container-right {
    width: 50%;

    @include mobile {
      width: 90%;
    }
  }

  .about-container-left {
    position: relative;

    .about-hero {
      width: 100%;
      border-radius: 1.25rem;
      filter: blur(1.5px);
      transition: filter 1s ease-in-out;

      &:hover {
        filter: blur(0);
      }
    }

    .play-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2f3d7e;
      color: #fff;
      border-radius: 50%;
    }
  }

  .about-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .about-hero-title {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-family: "Homemade Apple", cursive;
      }

      span:first-child {
        color: #2f3d7e;
      }

      span:last-child {
        color: #ed7d3a;
      }
    }

    .about-hero-description {
      width: 70%;
      text-align: center;
      line-height: 2;
      margin: auto;

      span {
        font-family: "Homemade Apple", cursive !important;
        font-weight: bolder;
      }

      span:first-child {
        color: #2f3d7e;
      }

      span:last-child {
        color: #ed7d3a;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}
