@import "../../app.scss";

.maps-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0;

  @include mobile {
    flex-direction: column;
    margin: 2rem 1.25rem;
  }

  img {
    width: 24%;
    border-radius: 1.25rem;

    @include mobile {
      width: 90%;
    }
  }
}
